{% extends 'ctb/base_sidebar.html' %}


{% block body %}

<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Header Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'ctb:movimento-detail' movimentocontabilheader.id %}">
                        {{movimentocontabilheader.id }}
                    </a>
                    <h1>{{ movimentocontabilheader.data_competencia }}
                        <small>{{ movimentocontabilheader.usuario }}</small>
                    </h1>
                    <h2>{{ movimentocontabilheader.origem }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Lancamento Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a
                        href="{% url 'ctb:lancamento-detail' movimentocontabilheader.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'ctb:create_lancamento' movimentocontabilheader.id %}">Insere
                    Novo Lançamento</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Todos os Lançamentos</h3>

                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Conta</th>
                            <th>valor</th>
                            <th>D/C</th>
                            <th>Código Histórico</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lancamento in movimentocontabilheader.lancamentocontabil_set.all %}
                        <tr>
                            <td>{{ lancamento.conta }}</td>
                            <td>{{ lancamento.valor }}</td>
                            <td>{{ lancamento.d_c }}</td>
                            <td>{{ lancamento.codigo_historico }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}



