{% extends 'ctb/base.html' %}
{% block title %}Detalhes do Histórico{% endblock %}
{% block historico_active %}active{% endblock %}

{% block body %}
<div class="container">

    <!-- Left historico Info -->
    <div class="col-sm-4 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'ctb:index' %}">
                        Voltar
                </a>
                <h1>{{ historico.codigo_historico }}</h1>
                <h1>{{ historico.descricao }}</h1>
                <h2>{{ historico.ativo }}</h2>
            </div>
        </div>
    </div>



</div>
{% endblock %}
