{% extends 'ctb/base.html' %}
{% load crispy_forms_tags %}

{% block body %}

        <div class="container">
            <div class="col-xs-12 .col-md-8">
                <h2>Detalhes do Histórico {{ historico.descricao }}</h2>
            </div>

            <div class="col-xs-6 .col-md-4">
                    <a href="{% url 'ctb:historico-list' %}">
                        <span class="glyphicon glyphicon-step-backward" > Voltar </span>

                    </a>
            </div>
            <hr>
        </div>
        <div class="container">
            <p><strong>Código: </strong> {{ historico.codigo_historico }}</p>
            <p><strong>Ativo: </strong> {{ historico.ativo }}</p>
        </div>


{% endblock %}



