{% extends 'ctb/base_sidebar.html' %}
{% block conta_active %}active{% endblock %}

{% block body %}

    <!-- contas -->
<div class="container">
    <div class="col-md-offset-2">


        <div class="panel panel-default">
            <div class="container" >

                <div class="col-md-2">
                    <h4 style="margin-left: 10px; margin-top: 10px;"><strong>Plano de Contas</strong></h4>
                </div>

                 <!-- Pesquisa -->
                    <div class="col-md-3">
                        <form method="GET" action="" id="searchform" style="margin-top: 0px;">
                            {% csrf_token %}
                            <input class="input-lg input-search" id="searchbox" name="q" type="text" value="{{ request.GET.q }}"
                                placeholder="Pesquisa Contas..."/>
                        </form>
                    </div>

                <div class="btn-group">


                        <!-- PDF -->
                        <a href="#">
                            <button type="button" disabled class="btn btn-warning" data-toggle="tooltip" title="Gera PDF"
                                    style="margin-top: 4px;">
                                <span class="glyphicon glyphicon-download-alt"></span>&nbsp; PDF
                            </button>
                        </a>

                        <!-- EXCEL -->
                        <a href="#">
                            <button type="button" disabled class="btn btn-warning" data-toggle="tooltip" title="Gera Excel"
                                    style="margin-top: 4px;">
                                <span class="glyphicon glyphicon-download-alt"></span>&nbsp; Excel
                            </button>
                        </a>

                     <!-- Botão Cria Registro -->
                        <a href="{% url 'ctb:conta-add' %}">
                            <button type="button" class="btn btn-success" data-toggle="tooltip" title="Cria um novo registro"
                                    style="margin-top: 4px;">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Novo registro
                            </button>
                        </a>
                </div>

            </div>

        </div>
        {% if object_list %}
        <table class="table table-responsive table-condensed table-bordered table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Conta</th>
                            <th>Descrição</th>
                            <th>Conta Superior</th>
                            <th>Tipo</th>
                            <th>Data Inclusão</th>
                            <th>Grau</th>
                            <th>Origem</th>
                            <th>Natureza</th>
                            <th>Ações</th>
                        </tr>
                        <tfoot>
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Conta Superior</th>
                                <th>Tipo</th>
                                <th>Data Inclusão</th>
                                <th>Grau</th>
                                <th>Origem</th>
                                <th>Natureza</th>
                                <th>Ações</th>
                            </tr>
                        </tfoot>
                        {% for conta in object_list %}
            {% if conta.conta_negrito %}
                            <tr>

                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.codigo_conta  }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.descricao  }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.conta_superior }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.tipo_conta }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.data_inclusao }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.grau_conta  }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.origem  }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.natureza  }}</a></td>

                                <!-- Edita -->
                                <td>
                                    <div class="btn-group">
                                     <a href="{% url 'ctb:conta-edit' conta.id %}"
                                            class="btn btn-primary btn-sm" role="button" data-toggle="tooltip"
                                            title="Altera o registro">
                                            <span class="glyphicon glyphicon-edit"></span></a>

                                        <!-- Deleta -->
                                        <form action="{% url 'ctb:conta-delete' conta.id %}"
                                               style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="conta_id" value="{{ conta.id }}" />
                                                <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                                        title="Exclui o registro">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% else %}
            <tr class="success">>

                                <td> <a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.codigo_conta  }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.descricao  }}</a></td>
                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.conta_superior }}</a></td>
                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.tipo_conta }}</a></td>
                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.data_inclusao }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.grau_conta  }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.origem  }}</a></td>
                                <td><a href="{% url 'ctb:conta-detail' conta.id %}">{{ conta.natureza  }}</a></td>

                                <!-- Edita -->
                                <td>
                                    <div class="btn-group">
                                     <a href="{% url 'ctb:conta-edit' conta.id %}"
                                            class="btn btn-primary btn-sm" role="button" data-toggle="tooltip"
                                            title="Altera o registro">
                                            <span class="glyphicon glyphicon-edit"></span></a>

                                        <!-- Deleta -->
                                        <form action="{% url 'ctb:conta-delete' conta.id %}"
                                               style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="conta_id" value="{{ conta.id }}" />
                                                <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                                        title="Exclui o registro">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}

                    </tbody>

                    <script>
                         $(document).ready(function(){
                         $('[data-toggle="tooltip"]').tooltip();
                          });
                    </script>



                </table>
                        <div class="col-md-offset-2" align="right">
                        <div class="pagination">
                            <span class="step-links">
                                {% if object_list.has_previous %}
                                    <a href="?page={{ object_list.previous_page_number }}">
                                        <span data-toggle="tooltip" title="Página anterior" class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></a>
                                {% endif %}

                                <span class="current">
                                    Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                                </span>

                                {% if object_list.has_next %}
                                    <a href="?page={{ object_list.next_page_number }}">
                                        <span data-toggle="tooltip" title="Página seguinte" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
                                {% endif %}
                            </span>
                        </div>
                        </div>


        {% else %}
            <h1>Não existem Contas Contábeis Cadastradas</h1>
        {% endif %}
    </div>
</div>


{% endblock %}
