{% extends 'ctb/base_sidebar.html' %}
{% block historico_active %}active{% endblock %}
{% load humanize %}
{% load l10n %}


{% block body %}
<div class="container">
    <div class="col-md-offset-2"> <!-- Header -->
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-3 .col-sm-3 .col-md-3">
                    <h4 style="margin-left: 10px; margin-top: 10px;"><strong>Movimentos Contábeis</strong></h4>
                </div>

                <!-- Pesquisa -->
                <div class="col-xs-4 .col-sm-4 .col-md-4">
                    <form method="GET" action="" id="searchform" style="margin-top: 0px;">
                        {% csrf_token %}
                        <input class="input-lg input-search" id="searchbox" name="q" value="{{ request.GET.q }}"
                               placeholder="Pesquisa...">
                    </form>
                </div>

                <div class="btn-group">

                    <!-- PDF -->
                    <a href="#">
                        <button type="button" disabled class="btn btn-warning" data-toggle="tooltip" title="Gera PDF"
                                style="margin-top: 4px;">
                            <span class="glyphicon glyphicon-download-alt"></span>&nbsp; PDF
                        </button>
                    </a>

                    <!-- EXCEL -->
                    <a href="#">
                        <button type="button" disabled class="btn btn-warning" data-toggle="tooltip" title="Gera Excel"
                                style="margin-top: 4px;">
                            <span class="glyphicon glyphicon-download-alt"></span>&nbsp; Excel
                        </button>
                    </a>

                    <!-- Botão Cria Registro em Lancamento Contabil-->
                    <a href="{% url 'ctb:lanc-add' %}">
                        <button type="button" class="btn btn-success" data-toggle="tooltip"
                                title="Cria um novo registro"
                                style="margin-top: 4px;">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Novo registro
                        </button>
                    </a>
                </div>
                <!- Fim do btn-group -->
            </div>  <!-- Fim do row -->
        </div> <!-- Fim do panel panel-default -->
    </div> <!-- Fim do Header -->

    <! Início da Tabela-->
    {% if object_list %}
    <div class="col-md-offset-2">
        <table class=" responsive table table-responsive table-condensed table-bordered table-hover table-striped"
               style="margin-bottom: 0px;">
            <tbody>
            <tr>
                <th>Status</th>
                <th>Seq</th>
                <th>Data da Competência</th>
                <th>Tipo Mov.</th>
                <th>Usuário</th>
                <th>Data do Lançamento</th>
                <th style="text-align:right">Total de Débitos</th>
                <th style="text-align:right">Total de Créditos</th>
            </tr>
            <tfoot>
            <tr>
                <th>Status</th>
                <th>Seq</th>
                <th>Data da Competência</th>
                <th>Tipo Mov.</th>
                <th>Usuário</th>
                <th>Data do Lançamento</th>
                <th style="text-align:right">Total de Débitos</th>
                <th style="text-align:right">Total de Créditos</th>
            </tr>
            </tfoot>
            {% for movimento in movimentocontabilheader %}
            <!--Testa se o total de débitos está igual ou diferente do total de créditos-->
            {% if not movimento.status_header %}

            <a href="{% url 'ctb:movimento-detail' movimento.id %}"><p class="bg-danger">Seq.:
                {{movimento.id}} - Diferença: Débitos = {{ movimento.total_debitos }} Créditos =
                {{ movimento.total_creditos }}</p>
            </a>

            <tr class="danger">
                <td style="text-align:center"><a href="{% url 'ctb:movimento-detail' movimento.id %}"><span
                        class="glyphicon glyphicon-thumbs-down" data-toggle="tooltip"
                        title="Diferença entre Débitos e Créditos"
                        aria-hidden="true"></span></a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.id }}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.data_competencia}}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.tipo_movimento }}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.usuario }}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.data_lancamento }}</a></td>
                <td style="text-align:right"><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{movimento.total_debitos}}</a>
                </td>
                <td style="text-align:right"><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{movimento.total_creditos}}</a>
                </td>

                <!-- Detalhes -->
                <td>

                    <!-- Edita -->
                    <a href="{% url 'ctb:movimento-edit' movimento.id %}"
                       class="btn btn-primary disabled btn-sm" data-toggle="tooltip"
                       title="Altera o registro">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>


                    <!-- Deleta -->
                    <form action="{% url 'ctb:movimento-delete' movimento.id %}"
                          style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden"/>
                        <button class="btn btn-danger btn-sm" data-toggle="tooltip"
                                title="Exclui o registro">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td style="text-align:center"><a
                        href="{% url 'ctb:movimento-detail' movimento.id %}"><span
                        class="glyphicon glyphicon-thumbs-up" data-toggle="tooltip"
                        title="Lançamento ok!" aria-hidden="true"></span></a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.id }}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.data_competencia}}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.tipo_movimento }}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.usuario }}</a></td>
                <td><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{ movimento.data_lancamento }}</a></td>
                <td style="text-align:right"><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{
                    movimento.total_debitos }}</a></td>
                <td style="text-align:right"><a href="{% url 'ctb:movimento-detail' movimento.id %}">{{movimento.total_creditos
                    }}</a></td>

                <!-- Detalhes -->
                <td>

                    <!-- Edita -->
                    <a href="{% url 'ctb:movimento-edit' movimento.id %}"
                       class="btn btn-primary disabled btn-sm" data-toggle="tooltip"
                       title="Altera o registro">
                        <span class="glyphicon glyphicon-edit"></span></a>


                    <!-- Deleta -->
                    <form action="{% url 'ctb:movimento-delete' movimento.id %}"
                          style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden"/>
                        <button class="btn btn-danger btn-sm" data-toggle="tooltip"
                                title="Exclui o registro">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>

            <script>
                         $(document).ready(function(){
                         $('[data-toggle="tooltip"]').tooltip();
                          });
                    </script>

        </table>

        <div class="col-md-offset-2" align="right">
            <div class="pagination">
                        <span class="step-links">
                            {% if object_list.has_previous %}
                                <a href="?page={{ object_list.previous_page_number }}">
                                    <span data-toggle="tooltip" title="Página anterior"
                                          class="glyphicon glyphicon-triangle-left"></span></a>
                            {% endif %}

                            <span class="current">
                                Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                            </span>

                            {% if object_list.has_next %}
                                <a href="?page={{ object_list.next_page_number }}">
                                    <span data-toggle="tooltip" title="Página seguinte"
                                          class="glyphicon glyphicon-triangle-right"></span></a>
                            {% endif %}
                        </span>
            </div>
        </div>


    </div>
    {% else %}
    <div class="col-md-offset-2">
        <h1>Não existem Movimentos Contábeis Cadastrados</h1>
    </div>
    {% endif %}
    <! Fim da Tabela-->

</div> <!-- Fim do Container -->
{% endblock %}




