{% extends 'ctb/base_sidebar.html' %}

{% block body %}

<div class="col-md-offset-2"> <!-- Header -->
    <!-- Left Contato Info -->
    <div class="panel panel-default">
        <div class="panel-body">
            {% if header.id %}
            <h4>Edita o Registro de: {{header.id}}</h4>
            {% else %}
            <h4>Cria um Novo Movimento Contábil</h4>
            {% endif %}

            <div align="right">
                <a class="nav-link" href="{% url 'ctb:movimento-list' %}">
                    <span class="glyphicon glyphicon-arrow-left"></span> Voltar
                </a>
            </div>
        </div>
    </div>


    <form action="" method="post">{% csrf_token %}

        <div class="container">
            {{ form.as_table }}
        </div>

        <table class="table table-responsive table-condensed table-bordered table-hover table-striped">
            {{ lancamentos.management_form }}

            {% if formset.errors %}
            {% for field in formset %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in formset.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            {% for form in lancamentos.forms %}
            {% if forloop.first %}
            <thead>
            <tr>
                {% for field in form.visible_fields %}
                <th>{{ field.label|capfirst }}</th>
                {% endfor %}
            </tr>
            </thead>
            {% endif %}
            <tr class="{% cycle row1 row2 %} formset_row">
                {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div align="right">
            <input type="submit" value="Gravar"/>
        </div>
    </form>
</div>


{% endblock %}