{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><strong>Menu Principal</strong></li>
{% endblock %}

{% block content %}
<div class="card" style="width: 10rem;">
    <img class="card-img-top" src="{% static 'ctb/img/planodecontas.jpg' %}" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">Contas</h4>
        <p class="card-text">Plano de contas</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endblock %}