<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static ctb/img/favicon.ico">

    <style>
        .orangetext {
            color: orange;
        }

        .bluetext {
            color: blue;
        }

        .redtext {
            color: red;
        }

        .greentext {
            color: green;
        }


    </style>

    <title>Contabilidade</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">

</head>
<body>
<h6><strong>{{ empresa }}</strong></h6>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">Usesoft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide"
                     src="{% static 'img/business01.jpg' %}"
                     alt="Primeiro slide">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="redtext">Sistema de Contabilidade</h1>
                        <p class="greentext">A contabilidade é uma ferramenta de fundamental importância para o controle
                            de um
                            empreendimento. Por meio dela é possível extrair uma série de informações importantes para a
                            tomada de decisão, para controlar e acompanhar as operações, além de facilitar o
                            planejamento como um todo.</p>
                        <p><a class="btn btn-lg btn-success" href="{% url 'ctb:home' %}" role="button">Iniciar</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="second-slide"
                     src="{% static 'img/business02.jpg' %}"
                     alt="Segundo slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="redtext">SPED Contábil</h1>
                        <p class="redtext">De maneira geral, as empresas devem registrar por meio do SPED Contábil todas
                            as transições
                            pertinentes à sua vida contábil. Os dados devem ter identificação de data, partes envolvidas
                            (CPF ou CNPJ), documentos de registro e classificação contábil. Tudo deve ser transmitido em
                            arquivos eletrônicos para a Receita Federal. Assim, ela terá à disposição um banco de dados
                            gigantesco capaz de cruzar informações às quais não teria acesso em anos anteriores.</p>
                        <p><a class="btn btn-lg btn-success" href="{% url 'ctb:home' %}" role="button">Iniciar</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide"
                     src="{% static 'img/business03.jpg' %}"
                     alt="Terceiro slide">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1 class="redtext">Quando o SPED Contábil deve ser entregue?</h1>
                        <p class="redtext">Desde 2016, a entrega do SPED Contábil deve ser feita até o último dia útil
                            do do mês de maio
                            no ano-calendário subsequente ao da escrituração. Esse prazo não pode ser postegado e a
                            não-entrega acarretará em multa.

                            Ou seja, em 2017, o SPED Contábil deve ser entregue até às 23h59min59s (horário de
                            Brasília)do dia 31 de maio.</p>
                        <p><a class="btn btn-lg btn-success" href="{% url 'ctb:home' %}" role="button">Iniciar</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>


    <!-- FOOTER -->
    <footer class="container">
        <p>&copy; 2017 Usesoft do Brasil Informática.</p>
    </footer>

</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="{% static 'js/holder.min.js' %}"></script>
</body>
</html>
