{% extends 'ctb/base.html' %}

{% block body %}


    <div class="container">
      <div class="row">

          <h1 class="page-header">{{ title }} - Usuário: {{ current_user.username }}</h1>

          <div class="row">

            <div class="col-xs-4 col-sm-1 placeholder">
              <img src="/static/ctb/images/planodecontas.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h5><a href="{% url 'ctb:conta-list' %}">Plano de Contas</a></h5>
            </div>

            <div class="col-xs-4 col-sm-1 placeholder">
              <img src="/static/ctb/images/lancamentocontabil.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h5><a href="{% url 'ctb:wip' %}">Lançamento Contábil</a></h5>
            </div>

            <div class="col-xs-4 col-sm-1 placeholder">
              <img src="/static/ctb/images/relatorios.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h5><a href="{% url 'ctb:wip' %}">Relatórios</a></h5>
            </div>

          </div>

        </div>
      </div>
    </div>
{% endblock %}

